<ion-content class="login-content">
  <div class="login-container">
    <ion-back-button class="back-button"></ion-back-button> <!-- Botón de retroceso -->

    <h1>¡Hola! 👋</h1>
    <p class="text-center">Para continuar, por favor ingresa tus credenciales</p>

    <ion-item class="input-item" [class.has-value]="email">
      <ion-input placeholder="Correo electrónico" type="email" clear-input="true" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="input-item" [class.has-value]="password">
      <ion-input placeholder="Contraseña" [type]="passwordType" [(ngModel)]="password"></ion-input>
      <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <a class="forgot-password" href="#">¿Olvidaste tu contraseña?</a>

    <ion-button expand="block" class="login-button">Iniciar sesión</ion-button>

    <p class="login-text">O inicia sesión con</p>

    <ion-button expand="block" fill="outline" class="social-button facebook-button">
      Facebook
    </ion-button>

    <p class="signup-text">¿No tienes cuenta? <a href="#">Regístrate</a></p>
  </div>
</ion-content>
