<ion-header [ngClass]="{'header-transparent': !scrolled, 'header-visible': scrolled}">
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [ngClass]="{'back-button-gradient': !scrolled, 'back-button-visible': scrolled}" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="scrolled">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [ngClass]="{'back-button-gradient': !scrolled, 'back-button-visible': scrolled}">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [ngClass]="{'back-button-gradient': !scrolled, 'back-button-visible': scrolled}">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>