<app-shared-header title="Tiendas Oficiales" [isLoading]="isLoading" [scrolled]="scrolled"></app-shared-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding" (ionScroll)="onScroll($event)" scrollEvents="true">

  <app-shared-refresher (refreshEvent)="refreshData()"></app-shared-refresher>

  <div class="content" *ngIf="!isLoading">

    <swiper-container [loop]="true" [pagination]="true">
      <swiper-slide *ngFor="let banner of banners">
        <img [src]="apiService.getOptimizedImageUrl(banner.folder, banner.img, 'banner')" class="banner-img-placeholder" loading="lazy"
          [class.hidden]="banner.logoLoaded">
        <img [src]="banner.img" class="banner-img" loading="lazy" (load)="banner.logoLoaded = true" />
      </swiper-slide>
    </swiper-container>

    <!-- Título principal -->
    <h2 class="page-title">Tiendas Oficiales</h2>
    <p class="page-subtitle">Tus marcas preferidas ya están en OneClic</p>

    <ion-toast [isOpen]="showAlert" trigger="open-toast" message="No se encontraron tiendas."
      [duration]="5000"></ion-toast>

    <!-- Filtros: Dropdown de nombre y buscador -->
    <div class="filters">

      <ion-item class="input-item">
        <ion-input placeholder="Buscar tienda..." (ionInput)="onSearch($event)" clear-input="true"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>

    </div>

    <!-- Cuadrícula de tiendas destacadas -->
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let comercio of loadedComercios">
          <ion-card class="store-card">
            <ion-card-content>

              <div class="badge-discount" *ngIf="comercio.cupones > 0">
                DESCUENTOS
              </div>

              <!-- Imagen de placeholder mientras se carga -->
              <img [src]="apiService.getOptimizedImageUrl(comercio.folder, comercio.logo, 'logo')" class="store-logo-placeholder" loading="lazy"
                [class.hidden]="comercio.logoLoaded" />

              <!-- Imagen del comercio -->
              <img [src]="serverUrl + comercio.folder + comercio.logo" class="store-logo" loading="lazy"
                (load)="comercio.logoLoaded = true" *ngIf="comercio.logo" />

              <!-- Imagen del comercio por defecto -->
              <img [src]="serverUrl + 'img/default.png'" class="store-logo" loading="lazy"
                (load)="comercio.logoLoaded = true" *ngIf="!comercio.logo" />
              <br>
              <ion-label class="store-name">{{ comercio.nombre }}</ion-label>
              <br>
              <!--<small>{{comercio.ciudad}} {{comercio.provincia}} - {{comercio.pais}}</small>-->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent"
        loadingText="Cargando más tiendas..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>