.hidden {
    display: none;
}

/* Contenido */
.banner-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filters ion-item {
    flex: 1;
    margin: 0 5px;
}

ion-col {
    padding: 0;
}

ion-card-content {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
}

.store-card {
    text-align: center;
    border: none;
    border-radius: 0;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
}

.store-logo {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.store-logo-placeholder {
    width: 79.04px;
    opacity: 0.5;

}

.store-name {
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
}