.banner-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filters ion-item {
    flex: 1;
    margin: 0 5px;
}

ion-row {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-col {
    padding: 0;
}

ion-card-content {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
}

.store-card {
    text-align: center;
    border: 1px solid #f7f7f7;
    box-shadow: none;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .store-logo {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .store-name {
    font-size: 14px;
    font-weight: bold;
  }