/* Contenido */
.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--text);
}

.page-subtitle {
    text-align: center;
    margin: 5px 0 20px 0;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.filters ion-item {
    flex: 1;
    margin: 0 5px;
}

ion-col {
    padding: 0;
}

ion-card-content {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
}

.store-card {
    position: relative;
    text-align: center;
    border: none;
    border-radius: 0;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
}

.badge-discount {
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: var(--green-opherton);
    color: var(--white);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 0 5px 5px 5px;
    font-weight: bold;
    z-index: 10;
}

.store-logo {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: contain;
    background: var(--bg1);
}

.store-logo-placeholder {
    width: 79.04px;
    animation: fade 1.5s infinite ease-in-out;

}

.store-name {
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
}