<app-shared-header title="Tiendas Oficiales" [isLoading]="isLoading" [scrolled]="scrolled"></app-shared-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding" (ionScroll)="onScroll($event)" scrollEvents="true">

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content pullingText="Tira para refrescar" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div class="content">

    <!-- Preload -->
    <swiper-container [loop]="true" [pagination]="true" *ngIf="isLoading">
      <swiper-slide>
        <img src="assets/images/banner-placeholder.webp" class="banner-img">
      </swiper-slide>
    </swiper-container>

    <!-- Cargado -->
    <swiper-container [loop]="true" [pagination]="true" autoplay="true" *ngIf="!isLoading">
      <swiper-slide *ngFor="let banner of banners">
        <img [src]="apiService.getOptimizedImageUrl(banner.folder, banner.img, 'banner')" class="banner-img-placeholder"
          loading="lazy" [class.hidden]="banner.logoLoaded">
        <img [src]="banner.img" class="banner-img" loading="lazy" (load)="banner.logoLoaded = true" />
      </swiper-slide>
    </swiper-container>

    <!-- Preload -->
    <div class="ph-row" style="justify-content: center; margin-top: 20px; margin-bottom: 15px;" *ngIf="isLoading">
      <div class="ph-col-6 big"></div>
      <div class="ph-col-10"></div>
    </div>
    <!-- Cargado -->
    <div *ngIf="!isLoading">
      <h2 class="page-title">Tiendas Oficiales</h2>
      <p class="page-subtitle">Tus marcas preferidas ya están en OneClic</p>
    </div>

    <ion-toast [isOpen]="showAlert" trigger="open-toast" message="No se encontraron tiendas."
      [duration]="5000"></ion-toast>

    <!-- Preload -->
    <div class="ph-row" style="padding: 0 6px; margin-bottom: 10px;" *ngIf="isLoading">
      <div class="ph-col-12" style="height: 48px; border-radius: 4px;"></div>
    </div>

    <!-- Cargado -->
    <div class="filters" *ngIf="!isLoading">
      <ion-item class="input-item">
        <ion-input placeholder="Buscar tienda..." (ionInput)="onSearch($event)" clear-input="true"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>

    <!-- Preload -->
    <ion-grid *ngIf="isLoading">
      <ion-row>
        <ion-col size="6" *ngFor="let comercio of arrayDemo">
          <ion-card class="store-card">
            <ion-card-content class="ph-row" style="justify-content: center;">
              <div class="ph-picture store-logo" style="width: 90px; height: 90px;"></div>
              <br>
              <div class="ph-col-8"></div>
              <div class="ph-col-6"></div>
              <br>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Cargado -->
    <ion-grid *ngIf="!isLoading">
      <ion-row>
        <ion-col size="6" *ngFor="let comercio of loadedComercios">
          <ion-card class="store-card">
            <ion-card-content>

              <div class="badge-discount" *ngIf="comercio.cupones > 0">
                DESCUENTOS
              </div>

              <!-- Imagen de placeholder mientras se carga -->
              <div class="ph-row" style="justify-content: center; margin-bottom: 0;" [class.hidden]="comercio.logoLoaded">
                <div class="ph-picture store-logo" style="width: 90px; height: 90px; border: 1px solid #f1f1f1;"></div>
              </div>

              <!-- Imagen del comercio -->
              <img [src]="serverUrl + comercio.folder + comercio.logo" class="store-logo" loading="lazy"
                (load)="comercio.logoLoaded = true" *ngIf="comercio.logo" />

              <!-- Imagen del comercio por defecto -->
              <img [src]="serverUrl + 'img/default.png'" class="store-logo" loading="lazy"
                (load)="comercio.logoLoaded = true" *ngIf="!comercio.logo" />
              <br>
              <ion-label class="store-name">{{ comercio.nombre }}</ion-label>
              <br>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" [disabled]="noMoreData">
      <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>