.store-banner {
    width: 100%;
    height: 180px;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.store-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    margin-top: -20px;
    position: relative;
}

.store-logo {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80px;
    border: 1px solid #fff;
}

.store-info {
    flex-grow: 1;
    margin-left: 10px;
    width: 233px;
    overflow: hidden;
}

.store-info h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-info p {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    margin-top: 10px;
}

.stat-item {
    text-align: center;
    flex: 1;
}

.stat-item ion-icon {
    font-size: 1rem;
    margin-bottom: 4px;
}

.stat-item span {
    display: block;
    font-size: 1rem;
}

.stat-item p {
    margin: 0;
    font-size: 0.85rem;
    color: #777;
}

.store-actions {
    display: grid;
}

.store-actions ion-button {
    margin-left: 8px;
    margin-left: 8px;
    background: #f1f1f1;
    border-radius: 4px;
}

.comercio-tabs {
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
    z-index: 100;
    background-color: white;
    padding: 10px 0;
}

.product-card {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);

    h2 {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10px;
    }

    p {
        font-size: 0.9rem;
        color: #777;
    }
}

.product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.catalog-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

.catalog-controls ion-select {
    --padding-start: 8px;
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Margen para separar del ion-segment */
    --background: #fff;
}

.view-mode-toggle {
    display: flex;
    align-items: center;
}

ion-grid {
    padding: 0;
    margin-bottom: 50px;

    ion-col {
        padding: 0;
    }
}