<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar class="toolbar-menu">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/images/user-placeholder.webp" /> <!-- Imagen del usuario -->
        </ion-avatar>
        <ion-label>
          <h2>Mario Jhunior Rojas Chanamoth</h2>
          <p routerLink="/login" (click)="closeMenu()">Mi perfil ></p>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <!-- Opción 1 -->
      <ion-item routerLink="/home" lines="none" (click)="closeMenu()">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <!-- Opción 3 -->
      <ion-item routerLink="/notifications" lines="none" (click)="closeMenu()">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>

      <!-- Opción 4 -->
      <ion-item routerLink="/mis-compras" lines="none">
        <ion-icon name="bag-outline" slot="start"></ion-icon>
        <ion-label>Mis compras</ion-label>
      </ion-item>

      <!-- Opción 5 -->
      <ion-item routerLink="/favorites" lines="none" (click)="closeMenu()">
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-item>

      <!-- Opción 6 -->
      <ion-item routerLink="/marketplace" lines="none">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-label>Marketplace</ion-label>
      </ion-item>

      <!-- Opción 7 -->
      <!--<ion-item routerLink="/mercado-play" lines="none">
        <ion-icon name="play-outline" slot="start"></ion-icon>
        <ion-label>Mercado Play</ion-label>
        <ion-badge color="success" slot="end">GRATIS</ion-badge>
      </ion-item>-->

      <!-- Opción 8 -->
      <ion-item routerLink="/historial" lines="none">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-item>

      <!-- Opción 9 -->
      <ion-item routerLink="/profile" lines="none" (click)="closeMenu()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Mi cuenta</ion-label>
      </ion-item>

      <!-- Opción 10 -->
      <ion-item routerLink="/ayuda" lines="none">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-item>

      <!-- Sección 2 -->
      <ion-item routerLink="/moda" lines="none">
        <ion-icon name="shirt-outline" slot="start"></ion-icon>
        <ion-label>Moda</ion-label>
      </ion-item>

      <ion-item routerLink="/stores-tabs" lines="none" (click)="closeMenu()">
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label>Tiendas oficiales</ion-label>
      </ion-item>

      <ion-item routerLink="/categories" lines="none" (click)="closeMenu()">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        <ion-label>Categorías</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>

    <ion-searchbar placeholder="Buscar en OneClic..." debounce="500" showCancelButton="never"
      search-icon="search-outline" slot="primary" class="custom-searchbar" id="open-modal" expand="block" readonly>
    </ion-searchbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="bag-outline"></ion-icon> <!-- Ícono de carrito -->
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true" color="light" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content pullingText="Tira para refrescar" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!isOnline" class="no-connection">
    <img src="assets/images/no-conexion.png" class="lazy-image">
    <h1>Sin conexión</h1>
    <p>Por favor, verifica tu conexión e intenta de nuevo.</p>
    <ion-button (click)="refreshData($event)" color="primary">Reintentar</ion-button>
  </div>

  <div *ngIf="isOnline">

    <!-- Banners (sección inicial) -->
    <div id="banner-section">
      <!-- Preload -->
      <swiper-container [loop]="true" [pagination]="true" *ngIf="isLoading">
        <swiper-slide>
          <img src="assets/images/banner-placeholder.webp" class="banner-img">
        </swiper-slide>
      </swiper-container>

      <!-- Cargado -->
      <swiper-container [loop]="true" [pagination]="true" *ngIf="!isLoading">
        <swiper-slide *ngFor="let banner of banners">
          <img [src]="apiService.getOptimizedImageUrl(banner.folder, banner.img, 'banner')"
            class="banner-img-placeholder" loading="lazy" [class.hidden]="banner.logoLoaded">
          <img [src]="banner.img" class="banner-img" loading="lazy" (load)="banner.logoLoaded = true" />
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Live Stories -->
    <div id="live-section">
      <!-- Preload -->
      <div class="lives-container" *ngIf="isLoading">
        <div class="live-content">
          <div class="live-story-all ph-row" *ngFor="let item of arrayLive">
            <div class="ph-picture" style="width: 60px; height: 60px; border-radius: 50%; margin-top: 5px; border: 2px solid var(--secondary);
        "></div>
            <div class="ph-col-6" style="flex: none; width: 100%;"></div>
          </div>
        </div>
      </div>

      <!-- Cargado -->
      <div class="lives-container" *ngIf="!isLoading">
        <div class="live-content">
          <div class="live-story-all">
            <img src="assets/images/live.webp">
            <p>Ver Todos</p>
          </div>
          <div class="live-story" *ngFor="let item of arrayLive">
            <img src="assets/images/user-placeholder.webp">
            <p>Tienda</p>
          </div>
        </div>
      </div>
    </div>

    <!-- New Arrivals -->
    <div id="new-arrivals-section" *ngIf="comercios.length > 0">
      <ion-grid>

        <div class="title-card">
          <h5>New Arrivals</h5><span routerLink="/stores-tabs">Ver Todo <ion-icon
              name="chevron-forward-outline"></ion-icon></span>
        </div>

        <!-- Preload -->
        <ion-row *ngIf="isLoading">
          <ion-col size="6" *ngFor="let item of arraArrivals">
            <div class="tienda-card ph-row" style="justify-content: center;">
              <div class="ph-picture" style="height: 100px; width: 100px; border-radius: 8px; margin-top: 15px;"></div>
              <div class="ph-col-8" style="margin-top: 10px;"></div>
              <div class="ph-col-6" style="margin-bottom: 14px;"></div>
            </div>
          </ion-col>
        </ion-row>

        <!-- Cargado -->
        <ion-row *ngIf="!isLoading">
          <ion-col size="6" *ngFor="let comercio of comercios">
            <div class="tienda-card">
              <img [src]="serverUrl + comercio.logo" alt="{{ comercio.nombre }}">
              <p>{{ comercio.nombre }}</p>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>

    <!-- Categorías -->
    <div id="categories-section" *ngIf="categorias.length > 0">
      <!-- Swiper con Categorías -->
      <hr>

      <div class="title-card">
        <h5>Categorías Destacadas</h5><span routerLink="/categories">Ver Todo <ion-icon
            name="chevron-forward-outline"></ion-icon></span>
      </div>

      <!-- Preload -->
      <div class="categories" *ngIf="isLoading">
        <div class="category" *ngFor="let item of arrayLive">
          <div class="ph-row" style="justify-content: center;">
            <div class="ph-picture" style="height: 50px; width: 50px;"></div>
            <div class="ph-col-12" style="margin-bottom: 3px;"></div>
            <div class="ph-col-6" style="margin-bottom: 0;"></div>
          </div>
        </div>
      </div>

      <!-- Cargado -->
      <div class="categories" *ngIf="!isLoading">
        <div class="category" *ngFor="let categoria of categorias">
          <img src="{{ categoria.icono }}" alt="{{ categoria.categoria }}">
          <p>{{ categoria.categoria }}</p>
        </div>
      </div>
    </div>

    <!-- Recien Agregados -->
    <div id="recent-added-section" *ngIf="listado.length > 0">
      <!-- Slider de Productos Recién Agregados -->
      <div class="title-card">
        <h5>Recién Agregados</h5><span>Marketplace <ion-icon name="chevron-forward-outline"></ion-icon></span>
      </div>

      <!-- Preload -->
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" *ngIf="isLoading">
        <swiper-slide *ngFor="let item of arrayLive">
          <div class="product-card ph-row" style="justify-content: center; align-items: center;">
            <div class="ph-picture" style="height: 155px; width: 120px; border-radius: 5px;"></div>
            <div class="ph-col-12" style="flex: none; width: 100%;"></div>
            <div class="ph-col-8" style="flex: none; width: 80%;"></div>
            <div class="ph-col-6" style="flex: none; width: 60%;"></div>
          </div>
        </swiper-slide>
      </swiper-container>

      <!-- Cargado -->
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" *ngIf="!isLoading">
        <swiper-slide *ngFor="let producto of listado">
          <div class="product-card">
            <img [src]="serverUrl + producto.folder + producto.foto_principal" alt="{{ producto.titulo }}">
            <h6>{{ producto.titulo }}</h6>
            <p>{{ producto.categoria }}</p>
            <p>{{ producto.moneda }} {{ producto.precio }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Recien Vistos -->
    <div id="recent-views-section" *ngIf="productosVistos.length > 0">
      <!-- Slider de Vistos Recientemente -->
      <div class="title-card">
        <h5>Recién Vistos</h5><span>Marketplace <ion-icon name="chevron-forward-outline"></ion-icon></span>
      </div>

      <!-- Preload -->
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" *ngIf="isLoading">
        <swiper-slide *ngFor="let item of arrayLive">
          <div class="product-card ph-row" style="justify-content: center; align-items: center;">
            <div class="ph-picture" style="height: 155px; width: 120px; border-radius: 5px;"></div>
            <div class="ph-col-12" style="flex: none; width: 100%;"></div>
            <div class="ph-col-8" style="flex: none; width: 80%;"></div>
            <div class="ph-col-6" style="flex: none; width: 60%;"></div>
          </div>
        </swiper-slide>
      </swiper-container>

      <!-- Cargado -->
      <swiper-container [slidesPerView]="2" [spaceBetween]="15" [loop]="true" *ngIf="!isLoading">
        <swiper-slide *ngFor="let articulo of productosVistos">
          <div class="product-card">
            <img [src]="serverUrl + articulo.folder + articulo.foto_principal" alt="{{ articulo.titulo }}">
            <h6>{{ articulo.titulo }}</h6>
            <p>{{ articulo.categoria }}</p>
            <p>{{ articulo.moneda }} {{ articulo.precio }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

  </div>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.7" [breakpoints]="[0, 0.9, 1, 0.8]">
    <ng-template>
      <ion-content>
        <ion-searchbar placeholder="Buscar ofertas..." (click)="modal.setCurrentBreakpoint(0.8)"></ion-searchbar>

        <!-- Filtrar por Categorías -->
        <ion-item lines="none">
          <ion-label>Filtrar por categorías</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-select placeholder="Categoría: Todas las Categorías">
            <ion-select-option *ngFor="let categoria of categorias">{{ categoria.categoria }}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Filtrar por Precio -->
        <ion-item lines="none">
          <ion-label>Filtrar por precio</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-range min="0" max="5000" pin="true">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">5000</ion-label>
          </ion-range>
        </ion-item>

        <!-- Filtrar por Condición -->
        <ion-item lines="none">
          <ion-label>Filtrar por condición</ion-label>
        </ion-item>
        <ion-list lines="none">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Usado</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Nuevo</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Acepta Permuta</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Urge en venderlo</ion-label>
          </ion-item>
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Realiza envíos</ion-label>
          </ion-item>
        </ion-list>

        <!-- Botones para aplicar o cerrar filtros -->
        <div class="filter-buttons">
          <ion-button expand="block" color="default" (click)="closeModal()">Cerrar Filtros</ion-button>
          <ion-button expand="block" color="dark">Aplicar Filtros</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>