ion-header {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.custom-searchbar {
  --background: #f1f1f1;
  --color: #7a7a7a;
  --placeholder-color: #c0c0c0;
  --icon-color: #c0c0c0;
  --padding-start: 10px;
  --border-radius: 15px;
  --box-shadow: none;
  --border: 1px solid #ccc;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ion-buttons {
  display: flex;
  align-items: center;
}

ion-searchbar {
  width: 100%;
}

ion-menu-button,
ion-button {
  color: #000000;
}

ion-menu::part(container) {
  border-radius: 0 15px 0 0;
}

/* Estilos específicos para la clase 'toolbar-menu' */
.toolbar-menu {
  --background: #f7f7f7;
  padding: 10px;
  box-shadow: none;
  border: none;

  ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }

  ion-item-divider {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  ion-avatar {
    width: 50px;
    height: 50px;

    img {
      border-radius: 50%;
      /* Asegura que la imagen sea circular */
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    /* Ajusta el tamaño del nombre */
  }

  p {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #555;
  }

  ion-item {
    --background: transparent;
    /* Quitar el fondo por defecto de ion-item */
  }
}

/* Estilos para las historias (Lives) */
.lives-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  margin: 20px 0 0 0;

  .live-content {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    .live-story {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 5px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--secondary);
      }

      p {
        font-size: 12px;
        color: #4a4a4a;
      }
    }

    .live-story-all {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 5px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--primary);
      }

      p {
        font-size: 12px;
        color: #4a4a4a;
      }
    }

  }
}

ion-grid {
  padding: 0;

  ion-row {
    margin: -5px;
  }

}

.title-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  span {
    position: absolute;
    right: 12px;
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

}

/* Estilos para las tiendas registradas */
.tienda-card {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  height: 100%;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    margin-top: 15px;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
  }

  ion-card-content {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
  }

}

/* Categorias */
.categories {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  scrollbar-width: none;

  .category {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    padding: 5px;
    background: var(--white);
    border-radius: 4px;
    justify-content: center;
  }

  .category img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
  }

  .category p {
    font-size: 12px;
    color: #4a4a4a;
  }

}

.categories::-webkit-scrollbar {
  display: none;
}

.product-card {
  text-align: center;
  line-height: 1;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  min-width: 120px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h6 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 12px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}

ion-modal {
  --box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);

  ion-content {
    padding: 20px;

    ion-item {
      --min-height: 44px;

      ion-range {
        padding: 25px 0 25px 0;
      }

    }

    .filter-buttons {
      display: flex;
      justify-content: space-between;
      padding: 15px 10px;
    }

    .filter-buttons ion-button {
      width: 48%;
    }

    ion-checkbox {
      --border-radius: 50%;
      --background-checked: #3880ff;
      --checkmark-color: #ffffff;
      --size: 22px;
    }

    ion-label {
      font-size: 16px;
      /* Ajuste del tamaño de texto */
      margin-left: 8px;
    }

  }

}

/**/
ion-tab-bar {
  background-color: var(--white); /* Color de fondo del footer */
  --color-selected: var(--primary); /* Color del ícono seleccionado */
}

ion-fab-button {
  --size: 60px; /* Tamaño más grande del botón central */
  --border-radius: 50%;
  --background: var(--primary);
}

ion-tab-button {
  --color-selected: var(--primary);
}

ion-tab-button ion-label {
  font-size: 12px; /* Ajusta el tamaño del texto */
}