<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header translucent>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/images/user.png" />
        </ion-avatar>
        <ion-label>
          <h2 class="username">Mario Jhunior Rojas Chanamoth</h2>
          <p class="user-email">mario.rojas.chanamoth&#64;gmail.com</p>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
      </ion-item>
      <ion-item routerLink="/oficial-stores">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Tiendas Oficiales</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>

    <ion-searchbar placeholder="Buscar en OneClic..." debounce="500" showCancelButton="never"
      search-icon="search-outline" slot="primary" class="custom-searchbar">
    </ion-searchbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="bag-outline"></ion-icon> <!-- Ícono de carrito -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a routerLink="/login" text="">UI Components</a></p>
  </div>
</ion-content>

<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger">3</ion-badge>
      </ion-tab-button>

      <ion-tab-button class="middle-button" tab="create">
        <div class="add-button">
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </ion-tab-button>

      <ion-tab-button tab="favorites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="messages">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-badge color="danger">5</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>